/* import */
/* importすると管理は楽になるけど読み込みが遅くなるためパフォーマンスに影響がでる */

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Shippori+Mincho&display=swap");


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    /* ペールグリーン背景 */
    color: #444444;
    font-family: "Shippori Mincho", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.6;
}

h1 {
    font-size: 5vw;
    font-weight: bold;
}

h2 {
    font-size: 3vw;
    font-weight: bold;
}

h3 {
    font-size: 2vw;
    font-weight: bold;
}

p {
    font-size: 2vw;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #444444;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    border-radius: 25px;
    padding: 5px 20px;
}

.button.green {
    background-color: #DAF0D7;
}

.button.white {
    background-color: #ffffff;
}

.container {
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main {
    gap: 100px;
}



/* スクロール表示 */
.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: all 3s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.fade-item {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease;
}

.fade-item.show {
    opacity: 1;
    transform: translateY(0);
}

/* ====================================== ヘッダー */
.logo img {
    /* opacity: 0.5; */
    /* border-radius: 50%; */
}

header {
    position: fixed;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0 20px;
    opacity: 0.7;
    font-size: 1.5vw;
    z-index: 10;

}

.header-nav li {
    list-style: none;
}

/* ========================================= ヒーロー */

.hero {
    height: 100vh;
    padding: 50px;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 5s ease;
}

.hero .container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.hero.show {
    opacity: 1;
}