/* ＝＝＝＝＝＝＝＝＝＝＝＝＝　ヒーロー　＝＝＝＝＝＝＝＝＝＝＝＝＝ */

.hero {
    background-image: url(../images/hero.jpg);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* ＝＝＝＝＝＝＝＝＝＝＝＝＝　ヒーローナビ　＝＝＝＝＝＝＝＝＝＝＝＝＝ */


.hero-nav {
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.hero-nav h2 {
    margin-bottom: 25px;
    padding: 0;
}

.hero-nav-items {
    display: flex;
    gap: 100px;

}

.hero-nav-content:nth-child(1),
.hero-nav-content:nth-child(4) {
    margin-top: -50px;
}


.hero-nav-content a {
    text-decoration: none;
}

.hero-nav-item {
    width: 150px;
    display: flex;
    flex-direction: column;
}


.hero-nav-item img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: contain;
}


/* ＝＝＝＝＝＝＝＝＝＝＝＝＝　コイノニアについて　＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.about p {
    text-align: center;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝　どんな人が話を聞いてくれるの？　＝＝＝＝＝＝＝＝＝＝＝＝＝ */

.counselor {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

}

.counselor-main {
    display: flex;
    gap: 20px;
    flex: 1;
    flex: 1;



}

.counselor-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;


}

.counselor-right {
    flex: 1;

}

.counselor-right img {
    width: 200px;
    border-radius: 10px;
    object-fit: contain;
}

.support-member {
    flex: 1;
}

.support-member-items {
    display: flex;
    gap: 100px;
}

.support-member-item {
    display: flex;
}

.member-item-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.member-item-right img {
    max-width: 150px;
    height: 20vh;
    border-radius: 50%;
    object-fit: contain;
}